.fondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.301)), url(../Recursos/Fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

